<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.popper }}" integrity="{{ site.cdn.popper_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.bootstrap_js }}" integrity="{{ site.cdn.bootstrap_js_hash }}" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
<script src="{{ site.baseurl }}/pagefind/pagefind-ui.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      showImages: false
    });
  });
</script>
