<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    {% include skippy.html %}

    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="{{ site.css_sidebar }}">
          {% include sidebar.html %}
        </div>

        {%- capture augmented_content -%}
          {%- assign page_slug = page.url | split: '/' | last -%}
          {%- assign page_section_slug = page.section -%}
          {{ content }}
          {% include docs/templates-downloads.html section_slug=page_section_slug doc_slug=page_slug heading="Templates & Downloads" hlevel=2  %}
          {% include docs/related-external-links.html section_slug=page_section_slug doc_slug=page_slug heading="Related External Links" hlevel=2 %}
        {%- endcapture -%}

        {% if page.toc %}
          <div class="{{ site.css_toc }}">
            {% include toc.html html=augmented_content class="section-nav" item_class="toc-entry toc-h%level%" %}
          </div>
        {% endif %}

        <main id="content" class="{{ site.css_main }}" role="main">
          {% include docs/header_print.html %}
          <h1 class="bd-title" id="content">{{ page.title | smartify }}{% if page.status %} {{ page.status }}{% endif %}</h1>
          <p class="bd-lead">{{ page.subtitle | smartify }}</p>
          {{ augmented_content }}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
