<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    {% include skippy.html %}

    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="{{ site.css_sidebar }}">
          {% include sidebar.html %}
        </div>

        {%- capture augmented_content -%}
          {{ content }}
          {%- assign page_slug = page.url | split: '/' | last -%}
          {%- if page_slug == 'experiences' -%}
            <!-- All Experiences -->
            <ul class="list-group">
              {%- for experience in site.data.community-building-experiences -%}
                <a class="list-group-item list-group-item-action" href="/community-building/experiences/{{ experience.experience | slugify }}/">
                  <h3 class="h5 mb-1">{% if experience.icon %}{{ experience.icon }} {% endif %}{{ experience.experience | smartify }}</h5>
                  <p class="mb-0">{{ experience.tagline | smartify }}</p>
                </a>
              {%- endfor -%}
            </ul>
          {%- else -%}
            {%- assign experiences = site.data.community-building-experiences | where:"experience",page.experience -%}
            {%- for experience in experiences -%}
              <!-- One Experience -->
              {%- assign experience_slug = experience.experience | slugify -%}
              <p><strong>Target Size</strong>: {{ experience.size | smartify }} | <strong>Attributes</strong>: {{ experience.adjectives | smartify }} | <strong>Shorthand</strong>: “{{ experience.goal | smartify }}”</p>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-7 col-xl-8">
                  <h2>Protips</h2>
                  <ul class="fa-ul">
                    {%- for protip in experience.protips -%}
                      <li><span class="fa-li"><i class="far fa-star"></i></span>{{ protip | markdownify }}</li>
                    {%- endfor -%}
                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                  <h2>Process Checklist</h2>
                  <ul class="fa-ul">
                    {%- assign process_steps = experience.process | split: ' > ' -%}
                    {%- for process_step in process_steps -%}
                      <li><span class="fa-li"><i class="far fa-check-square"></i></span>{{ process_step }}</li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
              <h2>Example &amp; Artifacts</h2>
              <p>{{ experience.example | smartify }}</p>
              {% include docs/templates-downloads.html section_slug="community-building-experiences" doc_slug=experience_slug %}
              <h2>Related</h2>
              {%- if experience.companions -%}
                {%- capture experience_companions_links -%}
                  {%- for companion in experience.companions -%}
                    <a href="/community-building/experiences/{{ companion | slugify }}/">{{ companion | smartify }}</a>,
                  {%- endfor -%}
                {%- endcapture -%}
                <p><strong>Experiences</strong>: {{ experience_companions_links | split: ',' | array_to_sentence_string: ''  }}</p>
              {%- endif -%}
              {%- capture experience_techniques_links -%}
                {%- assign techniques_sorted = site.data.community-building-techniques | sort: 'technique' -%}
                {%- for technique in techniques_sorted -%}
                  {%- if technique.experiences contains experience.experience -%}
                    <a href="/community-building/techniques/{{ technique.purpose | slugify }}/#{{ technique.technique | slugify }}">{{ technique.technique | smartify }}</a>,
                  {%- endif -%}
                {%- endfor -%}
              {%- endcapture -%}
              {%- if experience_techniques_links -%}
                <p><strong>Techniques</strong>: {{ experience_techniques_links | split: ',' | array_to_sentence_string: ''  }}</p>
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endcapture -%}

        {% if page.toc %}
          <div class="{{ site.css_toc }}">
            {% include toc.html html=augmented_content class="section-nav" item_class="toc-entry toc-h%level%" %}
          </div>
        {% endif %}

        <main id="content" class="{{ site.css_main }}" role="main">
          {% include docs/header_print.html %}
          <h1 class="bd-title" id="content">{% if page.icon %}{{ page.icon }} {% endif %}{{ page.title | smartify }}</h1>
          <p class="bd-lead">{{ page.subtitle | smartify }}</p>
          {{ augmented_content }}
          {% include footer.html %}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
