<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    {% include skippy.html %}

    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="{{ site.css_sidebar }}">
          {% include sidebar.html %}
        </div>

        {%- capture augmented_content -%}
          {{ content }}
          {%- assign page_slug = page.url | split: '/' | last -%}
          {%- assign technique_groups = "generate, prioritize, reflect" | split: ', ' -%}
          {%- if page_slug == 'techniques' -%}
            {%- for technique_group in technique_groups -%}
              <h2 id="{{ technique_group }}">Techniques to {{ technique_group | capitalize }}</h2>
              <ul class="list-group">
                {%- assign technique_group_techniques = site.data.community-building-techniques | where:"purpose",technique_group -%}
                {%- for technique in technique_group_techniques -%}
                  <a class="list-group-item list-group-item-action" href="/community-building/techniques/{{ technique_group }}#{{ technique.technique | slugify }}">
                    <h3 class="h5 mb-1">{{ technique.technique | smartify }}</h5>
                    <p class="mb-0">{{ technique.tagline | smartify }}</p>
                  </a>
                {%- endfor -%}
              </ul>
              {% include docs/templates-downloads.html section_slug=page_section_slug doc_slug=page_slug heading="Templates & Downloads" hlevel=2 %}
              {% include docs/related-external-links.html section_slug=page_section_slug doc_slug=page_slug heading="Related External Links" hlevel=2 %}
            {%- endfor -%}
          {%- else -%}
            {%- assign technique_group_techniques = site.data.community-building-techniques | where:"purpose",page_slug -%}
            {%- for technique in technique_group_techniques -%}
              <h2 id="{{ technique.technique | slugify }}">{{ technique.technique | smartify }}</h2>
              <p class="lead">{{ technique.tagline | smartify }}</p>
              <p>{{ technique.description | smartify }}</p>
              {%- if technique.companions -%}
                {%- capture technique_companions_links -%}
                  {%- for companion in technique.companions -%}
                    {%- assign technique_details = site.data.community-building-techniques | where:"technique",companion -%}
                    {%- for technique_detail in technique_details -%}
                      <a href="/community-building/techniques/{{ technique_detail.purpose }}#{{ technique_detail.technique | slugify }}">{{ technique_detail.technique | smartify }}</a>,
                    {%- endfor -%}
                  {%- endfor -%}
                {%- endcapture -%}
                <p><strong>Related Techniques</strong>: {{ technique_companions_links | split: ',' | array_to_sentence_string: ''  }}</p>
              {%- endif -%}
              {%- if technique.experiences -%}
                {%- capture technique_experiences_links -%}
                  {%- for experience in technique.experiences -%}
                    <a href="/community-building/experiences/{{ experience | slugify }}/">{{ experience | smartify }}</a>,
                  {%- endfor -%}
                {%- endcapture -%}
                <p><strong>Related Experiences</strong>: {{ technique_experiences_links | split: ',' | array_to_sentence_string: ''  }}</p>
              {%- endif -%}
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-external-link" style="margin-right: .5rem;"></i>
                  <a href="{{ technique.instructions.url }}" target="_blank" class="font-weight-bold">{{ technique.instructions.title }}</a>
                  <span class="badge badge-secondary">via {{ technique.instructions.source }}</span>
                </li>
              </ul>
            {%- endfor -%}
          {%- endif -%}
        {%- endcapture -%}

        {% if page.toc %}
          <div class="{{ site.css_toc }}">
            {% include toc.html html=augmented_content class="section-nav" item_class="toc-entry toc-h%level%" %}
          </div>
        {% endif %}

        <main id="content" class="{{ site.css_main }}" role="main">
          {% include docs/header_print.html %}
          <h1 class="bd-title" id="content">{{ page.title | smartify }}{% if page.status %} {{ page.status }}{% endif %}</h1>
          <p class="bd-lead">{{ page.subtitle | smartify }}</p>
          {{ augmented_content }}
          {% include footer.html %}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
